.aboutAuthor {
	margin-top: 100px;
}

.title {
	composes: title from '../../style/shared.module.scss';
}

.managerProfile {
	display: flex;
	max-width: 996px;
	// height: 378px;
	margin: 0 auto;
	margin-top: 15.6px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.photoProfile {
	position: relative;
	z-index: 5;
	transform: translateX(45px);
	width: 485px;
    height: 340px;
	img {
		position: absolute;
        height: auto;
        width: 100%;
        object-fit: contain;
	}
}

.wrapperProfile {
	z-index: 9;
}

.smallText {
	composes: smallText from '../../style/shared.module.scss';
	margin-top: 48px;
}

.name {
	composes: sectionTitle from '../../style/shared.module.scss';
	margin-top: 5px;
}

.divider {
	composes: divider from '../../style/shared.module.scss';
	width: 40px;
	margin-top: 20px;
}

.descr {
	composes: descr from '../../style/shared.module.scss';
	margin: 17.6px 0 20.4px 0;
	opacity: 0.5;
	max-width: 360px;
}

@media (max-width: 992px) {
    .managerProfile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 530px;
        padding: 5px 30px 30px;
    }
    .smallText {
        margin-top: 30px;
    }
    .photoProfile {
        max-width: 485px;
    }
    
}

@media (max-width: 767px) {
    .photoProfile {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(0);
        height: auto;
        width: auto;
        margin: 0 auto;
        img {
            position: inherit;
        }
    }   
    .smallText {
        margin-top: 20px;
    }
}