@import '../../style/variables.scss';

.reportSection {
	margin-top: 70px;
}

.title {
	composes: title from '../../style/shared.module.scss';
}

.wrapper {
	margin: 0 auto;
	margin-top: 27.6px;
	display: flex;
	justify-content: center;
	gap: 38px;
}

.reportsBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
	margin: 0 auto;
	width: 80px;
    height: 80px; 
    border-radius: 50%; // Сделаем его круглым, как на изображении
	box-shadow: 0 30px 30px 20px rgba(0, 0, 0, 0.05),
                0 0 60px 40px rgba(0, 0, 0, 0.02);
}

.title {
	composes: title from '../../style/shared.module.scss';
	text-align: center;
}

.nameCard {
	composes: sectionTitle from '../../style/shared.module.scss';
	text-align: center;
	margin-top: 21px;
}

.divider {
	composes: divider from '../../style/shared.module.scss';
	width: 40px;
	margin: 0 auto;
	margin-top: 21px;
}

.descr {
	composes: descr from '../../style/shared.module.scss';
	text-align: center;
	margin-top: 19.5px;
	max-width: 276px;
	opacity: 0.5;
}

@media (max-width: 993px) {
    .wrapper {
        flex-direction: column;
    }
}