.mortgageSection {
  display: flex;
  flex-direction: row;

  .imageContent {
    background: url('../../resources/Bitmap.png');
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 586px;	
    height: 720px;

    .block {
      display: flex;
      flex-direction: column;
      width: 268px;
      margin: 0 0 29px 100px;

      .subtitle {
        font-size: 18px;
        color: #fff;
      }

      .actionGroup {
        margin-top: 32px;
        display: flex;
        width: 100px;
        align-items: center;

        .button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 44px;
          height: 44px;
          border-radius: 100%;
          background-color: #278fb4;
          margin-right: 20px;
					cursor: pointer;
        }

        .timer {
          font-size: 13px;
          color: #fff;
        }
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    padding: 37px 0 48px 38px;
		.titleWrapper {
			width: 579px;
			margin-top: 160px;
			.title {
				font-size: 48px;
				color: #342F45;
				span {
					color: #278FB4;
				}
			}
			.subtitle {
				margin-top: 26px;
				font-size: 14px;
			}
   
	 }

	 .divider {
		display: block;
		background-color: #979797;
		width: 100%;
		height: 1px;
		margin-top: 145px;
	 }
	 .wrapper {
		margin-top: 33px;
		display: flex;
		flex-direction: row;

		.descrBlock {
			font-size: 18px;
			width: 180px;
		}
		.primaryBtn {
			width: 200px;
			height: 56px;
			margin-right: 24px;
		}
		.secondaryBtn {
			width: 181px;
			height: 56px;
		}
	 }
  }
}