.container {
    position: relative;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.maxWidth {
    max-width: 648px;
}

@media (max-width: 1300px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 960px) {
    .container {
        max-width: 80%;
    }
}

@media (max-width: 630px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
}