@import '../../style/variables.scss';

.journey {
	margin-top: 104px;
}

.title {
	composes: title from '../../style/shared.module.scss';
	text-align: start;
	// line-height: 167%;
}

.subtitle {
	composes: subtitle from '../../style/shared.module.scss';
	// margin-top: 21px;
	text-align: start;
}

.content {
	margin-top: 49px;
	display: flex;
	position: relative;
	gap: 64px;
}

.leftWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	gap: 24px;
}

.stepTitle {
	composes: sectionTitle from '../../style/shared.module.scss';
	margin-top: 9px;
	color: $indigo-color;
}

.step {
	border: 1px solid $grey-color;
	border-radius: 4px;
	padding: 28px 44px 44px 38px;
	width: 380px;
	transition: 0.5s all;
	cursor: pointer;
	&:hover {
		background-color: $ocean-color;
		transform: translateX(30px);
		.stepNumber {
			color: #fff;
			opacity: 0.5;
		}
		.stepTitle {
			color: #fff;
		}
		.descr {
			color: #fff;
			opacity: 0.7;
		}
	}
}

.divider {
	composes: divider from '../../style/shared.module.scss';
	margin-top: 20px;
	width: 40px;
	background-color: #979797;
	opacity: 0.6;
}

.stepNumber {
	composes: smallText from '../../style/shared.module.scss';
}


.descr {
	margin-top: 17px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	opacity: 0.5;
}


.rightWrapper {
	// width: 796px;
}
  
.gridContainer {
	display: grid;
	grid-template-columns: repeat(2, minmax(200px, 386px));
	grid-template-rows: 436px 234px;
	gap: 24px;
    transition: transform 0.3s ease-in-out;
	
}
.gridContainer > :first-child {
  grid-column: 1 / span 2; 
  min-height: 436px; 
  transition: all 0.4s ease-in-out;
}

.gridContainer > :not(:first-child) {
  min-height: 234px;
  transition: all 0.4s ease-in-out;
}

.nav {
display: flex;
flex-direction: column;
align-items: center;
position: absolute;
top: 100px;
left: -55px;
}

.circle {
width: 16px;
height: 16px;
border-radius: 50%;
border: 2px solid #cccccc; 
background-color: transparent;
margin: 4px 0;
cursor: pointer;
}

.circleActive {
width: 16px;
height: 16px;
border-radius: 50%;
background-color: #00a5d6; 
border: 2px solid #a5e2f5; 
margin: 4px 0;
}

.circleFilled.active {
box-shadow: 0 0 0 8px rgba(0, 165, 214, 0.2); 
// transform: scale(1.2);
}

.dottedLine {
width: 2px;
height: 200px; 
background: repeating-linear-gradient(
	to bottom,
	#cccccc,
	#cccccc 1px,
	transparent 3px,
	transparent 9px
);
}

@media (max-width: 1200px) { 
    .nav {
        display: none;
    }
}

@media (max-width: 992px) { 
    .content {
        place-content: center;
        gap: 0;
    }
    .leftWrapper {
        display: none;
    }
    .title {
        text-align: center;
    }
    .subtitle {
        text-align: center;
    }
}

@media (max-width: 630px) {
    .gridContainer > :first-child {
    grid-column: 1; 
    min-height: auto;
    transition: all 0.4s ease-in-out;
}
    .content {
        display: block;
    }
	.gridContainer {
    display: grid;
    grid-template-rows: repeat(3, 300px); 
    grid-template-columns: 1fr; 
    gap: 24px; 
}
}