@import '../../style/variables.scss';

.blogCards {
	margin-top: 90px;
}

.headerWithLink {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	composes: title from '../../style/shared.module.scss';
	line-height: 36px;
}

.underlineLink {
	font-weight: 700;
	font-size: 14px;
	color: $ocean-color;
	text-underline-offset: 5px;
}

.wrapper {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 397px));
	grid-template-rows: repeat(auto-fill, minmax(100px, 342px)); 
	grid-auto-columns: minmax(100px, 397px);
	grid-auto-rows: minmax(100px, 342px);
	gap: 24px;
}





