@import '../../style/variables.scss';


.title {
	composes: title from '../../style/shared.module.scss';
	text-align: start;
	line-height: 36px;
}

.cards {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 397px));
    grid-template-rows: repeat(auto-fill, minmax(266px, auto));
    grid-auto-columns: minmax(150px, 397px);
    grid-auto-rows: minmax(266px, auto);
	gap: 20px;
}

.resourceSectionMargin {
	margin-top: 92px;
}

