@import '../../style/variables.scss';

.teamSection {
	margin-top: 104px;
}
.container {
	// max-width: 1140px;
	max-width: 1088px;
	margin: 0 auto;
}

.subtitle {
	composes: subtitle from '../../style/shared.module.scss';
}
// И вместо этой комбинации оставить лишь padding у обертки карточек. У самих карточек убрать отступы, да и верхний padding можно
// - Я решил сделать так: 
.managerCards {
	margin-top: 65px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	// gap: 64px;
}

.managerCard {
	width: 512px;	
	// min-height: 567px;
	// height: fit-content;
	background-color: white;
	border-radius: 8px;
	
}

.managerWrapper {
	position: relative;
	display: flex;
	align-items: center;
	height: 210px;
}
.underWrapper {
	background-color: #fff;
	padding: 28px 32px 32px 32px;
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1)
}

.photo {
	position: relative;
	display: block;
	height: 100%;
	width: 389px;
	padding-left: 35px;
	max-inline-size: 72%;
	overflow: hidden;
	img {
		position: absolute;

		height: auto;
		width: 100%;
		object-fit: contain;
	}
}
	// 	// У меня шла жесткая борьба с изображением. Надеюсь, что +- справился?
.btnWrapper {
	position: absolute;
	right: 22px;
	display: flex;
	align-items: center;
	.pulseText {
		font-weight: 400;
		font-size: 13px;
	}
}

.managerTitle {
	composes: smallText from '../../style/shared.module.scss';
}

.managerName {
	composes: sectionTitle from '../../style/shared.module.scss';
	margin-top: 5px;
	// Как вычислить margin-top правильно, если по макету у Justin 8px, а у Scott 5px ? 
	color: $indigo-color;
}

.divider {
	composes: divider from '../../style/shared.module.scss';
	width: 40px;
	margin-top: 20px;
	opacity: 0.6;
}

.managerDescr {
	max-width: 360px;
	margin-top: 18px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	opacity: 0.5;
}

.skillsName {
	margin-top: 25px;
	margin-bottom: 11px;
	font-weight: 700;
	font-size: 16px;
	color: $indigo-color;
}

.skillsWrapper {
	margin-top: 16px;
	display: flex;
	justify-content: space-between;
	max-width: 336px;
}

.skillsItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 7px;
	// width: 78px;
}

.skillsImg {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #e0e0e0;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	img {
		width: 20px;
    	height: 20px;
	}
}

.skillsDescr {
	min-width: 48px;
	max-width: 78px;
	height: 28px;
	font-weight: 400;
	font-size: 11px;
	text-align: center; 
	word-wrap: break-word;
	}


@media(max-width: 1399px) {
	.managerCards {
		// flex-wrap: wrap;
	}
	
}

@media(max-width: 1199px) {
	.managerCards {
		flex-direction: column;
	}
}